<!-- Dropdown -->
Queue<select [(ngModel)]="selectedTopic" (ngModelChange)="onTopicChange()" id="dropdownMenu">
    <option value="">--All Queues--</option>
    <option *ngFor="let t of topics" [value]="t">{{t}}</option>
</select>

<!-- Body -->

<div class="container responsive-box">
    <div id="bodyLeft">
        <table id="tableLeft">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>ID</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let m of (messages$ | async); trackBy: trackById" (click)="onMessageClick(m)"
                    [class.active]="m.id === selectedMessage?.id">
                    <td>{{m.time ? (m.time | date:'yyyy-MM-dd HH:mm') : ''}}</td>
                    <td>{{m.id}}</td>
                    <td>{{m.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="bodyRight">
        <table id="tableRight">
            <thead>
                <tr>
                    <th>Message Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="message-details">
                        <div *ngIf="selectedMessage">
                            <p>{{selectedMessage | json}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>